@font-face {
  font-family: 'fontslab';
  src: url(../font/fontslab.ttf);
}
@font-face {
  font-family: 'pagolin';
  src: url(../font/pagolin.ttf);
}
@font-face {
  font-family: 'Anton-Regular';
  src: url(../font/Anton-Regular.ttf);
}